html, body {
    background-color: #21232A;
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    padding: 70px;
    color: aliceblue;
}

button {
    background-color: #ffb703;
    padding: auto;
    color: #023047 ;
    font-size: 1.6rem;
    margin-left: 6px;
}